.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card {
      min-height: 100px;
      background: var(--card);
      padding: 20px;
      border-radius: 12px;
      border: 1px solid var(--border);
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

  &__charts {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

    .chart {
      background: var(--card);
      padding: 20px;
      border-radius: 12px;
      border: 1px solid var(--border);
      height: 300px;
    }
  }
}