.insights {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-weight: 600;
  }

  &__charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .chart {
      background: var(--card);
      padding: 20px;
      border-radius: 12px;
      border: 1px solid var(--border);

      h4 {
        margin-bottom: 10px;
      }

      .chart-box {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #888;
      }
    }
  }
}