.navbar {
  height: 60px;
  background: var(--card);
  border-bottom: 1px solid var(--border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;

  &__left {
    h3 {
      font-weight: 600;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 15px;

    .user {
      font-size: 14px;
      color: #555;
    }

    .logout {
      padding: 6px 12px;
      border: none;
      background: #ef4444;
      color: white;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}